page-species {
    .plimage{
        background-image: url('../assets/imgs/pika.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
