page-game {
    .plimage{
        background-image: url('../assets/imgs/gameboy.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
