page-locations {
    .plimage{
        background-image: url('../assets/imgs/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
